<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="robot">

    <!-- Example link 
    colocando um novo nome para um arquivo urdf.xacro
    como se fosse uma lincagem pra main em C
     -->

    <xacro:include filename="robot_core.xacro"/>

    <!--Incluindo novo arquivo para controlar o robo no gazebo -->
    <xacro:include filename="gazebo_control.xacro"/>


    
</robot>